*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}



.navbars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    background-color: #333333;
    margin: 0 auto;
}

.logo{
    font-size: 26px;
    font-weight: 800;
    color: rgb(254, 254, 254);
}

.btn{
    background-color: goldenrod;
    color: white;
    font-weight: 600;
    padding: 10px 15px;
}

.btn:hover{
    background-color: rgb(53, 7, 236);
    color: white;
}

.banner{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 50px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content{
    width: 500px;
    text-align: justify;
}

.content h1{
    font-size: 25px;
}

.content h2{
    font-size: 20px;
}


.btn a{
    background-color: goldenrod;
    color: white;
    font-weight: 600;
    padding: 10px 15px;
    text-decoration: none;
}

.btn a:hover{
    background-color: rgb(53, 7, 236);
    color: white;
}


.img img{
    height: 300px;
    border-radius: 20% 30%;
}